.slider {
  overflow: hidden;
  &__container {
    margin-bottom: 1rem;
    &.mySliderOne{
      transform: translateX(35px);
    }
    &.mySliderTwo{
      transform: translateX(-35px);
    }

    .swiper-wrapper {
      -webkit-transition-timing-function: linear !important;
      -o-transition-timing-function: linear !important;
      transition-timing-function: linear !important;
    }

    .swiper-slide{
      .box{
        background: $c-black100;
        border-radius: $b-radius-12;
        overflow: hidden;
        height: auto;
        @include media(xl){
          height:  10rem;
        }
        @include media(hd){
          height: 17.5rem;
        }
        img{
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}